.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
}
/* Inner */
.pointer {
    cursor: pointer;
}

.topic {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.topic-hover {
    text-decoration: underline;
}

